.banner-containt {
  position: relative;
}
.banner-wrap {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #02bafe;
    text-align: center;
}
.d-block {
   height: 700px;
   object-fit: cover;
}
.banner-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 60px;
    font-family: sans-serif;
    text-shadow: 0 0 0.8em #fff;
}
.banner-para {
    font-size: 26px;
    font-family: sans-serif;
    line-height: 1.5;
    padding-bottom: 40px;
    color: #fff;
}
.banner-btn a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #02bafe;
    padding: 10px 25px;
    border-radius: 50%;
}
.banner-btn a:hover {
    color: #fff;
}

/* our video */

.our-carousel {
    background-color:
}
.our-video h1 {
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgb(0 0 0 / 40%);
}
.spa {
    font-size: 50px;
    color: #02bafe;
    font-weight: 600;
    font-family: sans-serif;
}
.v-para {
    margin: 0;
    text-align: center;
    font-size: 22px;
    padding-left: 500px;
    padding-right: 500px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
    padding-bottom: 40px;
}
.f-para {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
#dow .owl-dots {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#dow .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    display: none;
}
#dow .owl-dots .owl-dot .owl-dot.active {
    background-color: #000;
}
.next-wrap {
  padding-top: 100px;
}
#low .owl-dots {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#low .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    display: none;
}
#low .owl-dots .owl-dot .owl-dot.active {
    background-color: #000;
}

/* fastival photography */

.fastival-photography {
  padding-top: 80px;
}
.fs-photo {
  height: 300px;
  object-fit: cover;
  transition: .3s;
  width: 100%;
  border-radius: 10px;
}
.fs-photo:hover {
  transform: scale(1.1);
  transition: .8s;
}
.photography {
  padding-top: 40px;
}
.p-overlay {
  position: relative;
  overflow: hidden;
}
.p-overlay::after {
  content: "";
  background-color: rgb(177 177 210 / 80%);
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.8s;
}
.p-overlay:hover::after {
  width: 100%;
  opacity: 1;
  transition: 0.8s;
  left: 0%;
  cursor: progress;
}
.fastival-title h1 {
  margin: 0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 600;
}
.photo-para {
  margin: 0;
  text-align: center;
  font-size: 22px;
  padding-left: 500px;
  padding-right: 500px;
  color: #69696c;
  line-height: 1.5;
  font-family: sans-serif;
}
.award {
  padding-top: 15px;
}

/* footer */

.footer {
  background-color: #0c131a;
  margin-top: 100px;
  padding-top: 50px;
  color: #fff;
}
.footer-list {
  list-style: none;
  padding: 0;
}
.foot-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 30px;
}
.footer-row .footer-list li {
   margin-top: 15px;
}
.footer-row .footer-list li a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'poppins',sans-serif;
}
.fa.fa-map-marker {
    font-size: 35px;
    color: #0000ff;
    margin-right: 20px;
}
strong {
    font-size: 22px;
    font-family: 'poppins',sans-serif;
    margin-bottom: 25px;
    padding-left: 20px;
}
.address {
   margin: 0;
   padding-left: 45px;
   font-size: 20px;
}
.add {
  padding-left: 11px;
}
.tol {
  font-size: 18px;
  font-family: 'poppins',sans-serif;
}
.contact-link {
    list-style: none;
    padding: 0;
    text-align: center;
}
.contact-link li {
  display: inline-block;
  margin: 5px;
}
.fa.fa-facebook {
    font-size: 20px;
    color: #fff;
    background-color: #226aef;
    padding: 8px 11px;
    border-radius: 100%;
}
.fa.fa-twitter {
    font-size: 20px;
    color: #fff;
    background-color: #00baff;
    padding: 8px 10px;
    border-radius: 100%;
}

.fa.fa-linkedin {
    font-size: 20px;
    color: #fff;
    background-color: #226aef;
    padding: 8px 10px;
    border-radius: 100%;
}

.fa.fa-telegram {
    font-size: 20px;
    color: #fff;
    background-color: #00baff;
    padding: 8px 10px;
    border-radius: 100%;
}

.fa.fa-youtube {
    font-size: 20px;
    color: #fff;
    background-color: #ff0000;
    padding: 8px 10px;
    border-radius: 100%;
}

.fa.fa-instagram {
    font-size: 20px;
    color: #fff;
    background-color: #ef127a;
    padding: 8px 10px;
    border-radius: 100%;
}

iframe {
  margin-bottom: 20px;
  border-radius: 15px;
}

/* mobile responsive css */

@media (min-width:1025px) and (max-width:1440px) {

  .photo-para {
    margin: 0;
    text-align: center;
    font-size: 22px;
    padding-left: 100px;
    padding-right: 100px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
}
.v-para {
    margin: 0;
    text-align: center;
    font-size: 22px;
    padding-left: 100px;
    padding-right: 100px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
    padding-bottom: 40px;
}
.owl-stage-outer {
    text-align: center;
}
.owl-prev {
    display: none;
}
.owl-next {
    display: none;
}
}

@media (min-width:768px) and (max-width:1024px)  {
.banner-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 40px;
    font-family: sans-serif;
    text-shadow: 0 0 0.8em #fff;
}
.banner-para {
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.5;
    padding-bottom: 40px;
    color: #fff;
}
.banner-btn a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    background-color: #02bafe;
    padding: 8px 22px;
    border-radius: 50%;
}
.our-video h1 {
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.v-para {
    margin: 0;
    text-align: center;
    font-size: 17px;
    padding-left: 150px;
    padding-right: 150px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
    padding-bottom: 40px;
}

.fastival-title h1 {
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.photo-para {
    margin: 0;
    text-align: center;
    font-size: 17px;
    padding-left: 150px;
    padding-right: 150px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
}
.owl-stage-outer {
    text-align: center;
}
.foot-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 22px;
}
.footer-row .footer-list li a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 17px;
    font-family: 'poppins',sans-serif;
}
strong {
    font-size: 22px;
    font-family: 'poppins',sans-serif;
    margin-bottom: 25px;
    padding-left: 20px;
}
.address {
    margin: 0;
    padding-left: 45px;
    font-size: 17px;
}
.owl-prev {
    display: none;
}
.owl-next {
    display: none;
}
}

@media (min-width:425px) and (max-width:767px) {

.banner-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: sans-serif;
  text-shadow: 0 0 0.8em #fff;
}
.banner-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: sans-serif;
    text-shadow: 0 0 0.8em #fff;
}
.our-video h1 {
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.banner-para {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
    padding-bottom: 40px;
    color: #fff;
}
.v-para {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
    padding-bottom: 40px;
}
.fastival-title h1 {
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: sans-serif;
}
.photo-para {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
}
.owl-stage-outer {
    text-align: center;
}
.foot-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
}
.foot-title:hover {
    color: #ffe505;
}
.footer-row .footer-list li a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'poppins',sans-serif;
}
.footer-row .footer-list li a:hover {
  color: #ffe505;
  transition: 0.8s;
}
strong {
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    margin-bottom: 25px;
    padding-left: 20px;
}
.address {
    margin: 0;
    padding-left: 45px;
    font-size: 15px;
}
.owl-prev {
    display: none;
}
.owl-next {
    display: none;
}
}

@media (min-width:320px) and (max-width:424px) {

  .banner-title {
     margin: 0;
     padding-bottom: 20px;
     font-size: 18px;
     font-family: sans-serif;
     text-shadow: 0 0 0.8em #fff;
 }
 .banner-para {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
    padding-bottom: 30px;
    color: #fff;
}
.banner-btn a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #02bafe;
    padding: 7px 18px;
    border-radius: 50%;
}
.our-video h1 {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
}
.spa {
    font-size: 24px;
    color: #02bafe;
    font-weight: 600;
    font-family: sans-serif;
}
.v-para {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
    padding-bottom: 40px;
}
.fastival-title h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
}
.photo-para {
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: #69696c;
    line-height: 1.5;
    font-family: sans-serif;
}

.fs-photo {
    height: 300px;
    object-fit: cover;
    transition: .3s;
    width: 100%;
    border-radius: 10px;
}
.award {
    text-align: center;
    font-size: 14px;
}
.foot-title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
}
.footer-row .footer-list li a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'poppins',sans-serif;
}
strong {
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    margin-bottom: 25px;
    padding-left: 20px;
}
.address {
    margin: 0;
    padding-left: 45px;
    font-size: 14px;
}
.fa.fa-facebook {
    font-size: 14px;
    color: #fff;
    background-color: #00baff;
    padding: 6px 8px;
    border-radius: 100%;
}
.fa.fa-twitter {
    font-size: 14px;
    color: #fff;
    background-color: #00baff;
    padding: 6px 8px;
    border-radius: 100%;
}
.fa.fa-linkedin {
    font-size: 14px;
    color: #fff;
    background-color: #226aef;
    padding: 6px 8px;
    border-radius: 100%;
}

.fa.fa-telegram {
    font-size: 14px;
    color: #fff;
    background-color: #00baff;
    padding: 6px 8px;
    border-radius: 100%;
}

.fa.fa-youtube {
    font-size: 14px;
    color: #fff;
    background-color: #ff0000;
    padding: 6px 8px;
    border-radius: 100%;
}

.fa.fa-instagram {
    font-size: 14px;
    color: #fff;
    background-color: #ef127a;
    padding: 6px 8px;
    border-radius: 100%;
}
.owl-prev {
    display: none;
}
.owl-next {
    display: none;
}
}
